{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codrops" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/compoent.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/a.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menuicon.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script> 
    <script src="{% static 'node_modules/chartjs-plugin-stacked100/src/index.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
	<script src="{% static 'js/classie.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var totals = {{ totals|safe }};
        var schoolIdx = {{ schoolIdx|safe }};
        var schoolData = {{ schoolData|safe }};
        var majorData1 = {{ majorData1|safe }};
        var majorData2 = {{ majorData2|safe }};
        var interestseltAppr = {{ interestseltAppr|safe }};
        var cnslAplyData = {{ cnslAplyData|safe }};
    </script>
    <script src="{% static 'js/test.js' %}"></script>
    <title>영남이공대학교 입시</title>
</head>
<body class="cbp-spmenu-push">
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<h3>Menu</h3>
			<a href="/">학과 상황판 대시보드</a>
			<a href="{% url 'majorPage' %}" class="" data-info="학과별 페이지">학과별 페이지</a>
            <a href="{% url 'logout' %}" class="">로그아웃</a>
		</nav>
		<script src="{% static 'js/classie.js' %}"></script>
    
      {% comment %}   <input type="checkbox" id="menuicon">
		<label for="menuicon">
			<span></span>
			<span></span>
			<span></span>
		</label> {% endcomment %}
        
	</body>
    <div class="fixed-header" style="z-index: 3;">
        <div>
			<div class="main" style="float: left; width: 5%; padding: 0;">
				<section class="buttonset" style="padding-left: 20px; padding-top: 6px;">
					<button id="showLeftPush" style="border-radius: 24px;"></button>
				</section>
            </div>
            <nav>
                <span style="font-size: 40px; padding-left: 20px;">2022년도 영남이공대학교 입시현황
                <span style="font-size: 0.7em;">( {{ todayTime }} )</span>
                </span>
            </nav>
        </div>
    </div>
    <div style="padding: 90px 0px 0px 20px;">
        <h2 style="box-sizing: border-box; border-right-width: 0px; border-top-width: 0px; border-left: #202020 12px solid; border-bottom: #454647 2px solid; line-height: 1.7; margin-right: 0px; padding: 3px 5px 3px 10px; width:83%;">				
            <span>
                <b>학교전체상황판</b>
            </span>
        </h2>
        <div style="position:relative; width: 165vh; height: 20vw">
            <canvas id="totalChart"></canvas>
        </div>
    </div>
    <div style="padding: 50px 0px 0px 20px; display: inline-block;">
        <h2 style="box-sizing: border-box; border-right-width: 0px; border-top-width: 0px; border-left: #202020 12px solid; border-bottom: #454647 2px solid; line-height: 1.7; margin-right: 0px; padding: 3px 5px 3px 10px;">				
            <span>
                <b>관심학교 TOP10</b>
            </span>
        </h2>
        <div style="position:relative; width: 80vh; height: 20vw">
            <canvas id="topschoolChart"></canvas>
        </div>
    </div>
    <div style="padding: 50px 0px 0px 60px; display: inline-block;">
        <h2 style="box-sizing: border-box; border-right-width: 0px; border-top-width: 0px; border-left: #202020 12px solid; border-bottom: #454647 2px solid; line-height: 1.7; margin-right: 0px; padding: 3px 5px 3px 10px;">				
            <span>
                <b>지원예정 전형</b>
            </span>
        </h2>
        <div style="padding-top: 20px; position:relative; width: 80vh; height: 20vw;">
            <canvas id="interestseltApprChart"></canvas>
        </div>
    </div>
    <div style="padding: 50px 0px 0px 20px;">
        <div style="display: inline-block; width: 80%; position: absolute; z-index: 1;">
            <h2 style="box-sizing: border-box; border-right-width: 0px; border-top-width: 0px; border-left: #202020 12px solid; border-bottom: #454647 2px solid; line-height: 1.7; margin-right: 0px; padding: 3px 5px 3px 10px; width:83%;">				
                <span>
                    <b>상담 인원 &amp; 지원 예정 인원</b>
                </span>
            </h2>
        </div>
        <div style="float: right; width: 70%; padding-top: 10px; position: relative; z-index: 2;">
            <form method="post" action="/" name="dateForm" class="form" style="display: inline-block;">{% csrf_token %}
                <div style="width: 100%;">
                    <select class="form-select" name="dateList">
                        <option value="0" selected>전체</option>
                        <option value="1">최근 1개월</option>
                        <option value="2">최근 3개월</option>
                        <option value="3">최근 6개월</option>
                    </select>
                </div>
            </form>
        </div>
        <div style="padding-top: 65px; position:relative; width: 165vh; height: 30vw;">
            <canvas id="cnslAplyChart"></canvas>
        </div>
    </div>
    <div style="padding: 50px 0px 0px 20px; display: inline-block;">
        <h2 style="box-sizing: border-box; border-right-width: 0px; border-top-width: 0px; border-left: #202020 12px solid; border-bottom: #454647 2px solid; line-height: 1.7; margin-right: 0px; padding: 3px 5px 3px 10px;">				
            <span>
                <b>기존 학과별 관심인원</b>
            </span>
        </h2>
        <div style="position:relative; width: 80vh; height: 50vw">
            <canvas id="majorChart1"></canvas>
        </div>
    </div>
    <div style="padding: 50px 0px 0px 60px; display: inline-block;">
        <h2 style="box-sizing: border-box; border-right-width: 0px; border-top-width: 0px; border-left: #202020 12px solid; border-bottom: #454647 2px solid; line-height: 1.7; margin-right: 0px; padding: 3px 5px 3px 10px;">				
            <span>
                <b>글로벌 마이스터 대학 관심인원</b>
            </span>
        </h2>
        <div style="vertical-align: top; position:relative; width: 80vh; height: 50vw;">
            <canvas id="majorChart2"></canvas>
        </div>
    </div>
   {% comment %}  <input type="checkbox" id="menuicon">
			<label for="menuicon">
				<span></span>
				<span></span>
				<span></span>
            </label> {% endcomment %}
</body>









<script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };


    function disableOther( button ) {
        if( button !== 'showLeftPush' ) {
            classie.toggle( showLeftPush, 'disabled' );
        }
    }

    var cnslAplyChart = new Chart(
        document.getElementById('cnslAplyChart'), {
            type: 'line',
    
            data: {
                labels: cnslAplyData[0],
                datasets: [
                    {
                        label: '상담인원',
                        data: cnslAplyData[2],
                        borderColor: [CUSTOM_COLORS.indigo],
                        backgroundColor: [CUSTOM_COLORS.indigo],
                    },
                    {
                        label: '지원예정인원',
                        data: cnslAplyData[3],
                        borderColor: [CUSTOM_COLORS.skyblue],
                        backgroundColor: [CUSTOM_COLORS.skyblue],
                    }
                ]
            },
            plugins: [ChartDataLabels],
            options: {
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    line: {
                        tension: 0.4
                    }
                },
                layout: {
                    padding: {
                        top: 50
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#000'
                        }
                    },
                    y: {
                        ticks: {
                            color: '#000'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom'
                    },
                    datalabels: {
                        color: 'black',
                        anchor: 'end',
                        align: 'end',
                        offset: 5,
                        borderWidth: 1
                    }
                }
            }
    });

    $(".form-select").change(() => {
        var form = $(".form")[0];
        var formData = new FormData(form);

        $.ajax({
            cache : false,
            url : "/",
            processData: false,
            contentType: false,
            type : 'POST', 
            data : formData, 
            success : (data) => {
                console.log(data)
                cnslAplyData = data["cnslAplyData"];
                cnslAplyChart.destroy();
                
                cnslAplyChart = new Chart(
                    document.getElementById('cnslAplyChart'), {
                        type: 'line',
                
                        data: {
                            labels: cnslAplyData[0],
                            datasets: [
                                {
                                    label: '상담인원',
                                    data: cnslAplyData[2],
                                    borderColor: [CUSTOM_COLORS.indigo],
                                    backgroundColor: [CUSTOM_COLORS.indigo],
                                },
                                {
                                    label: '지원예정인원',
                                    data: cnslAplyData[3],
                                    borderColor: [CUSTOM_COLORS.skyblue],
                                    backgroundColor: [CUSTOM_COLORS.skyblue],
                                }
                            ]
                        },
                        plugins: [ChartDataLabels],
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            elements: {
                                line: {
                                    tension: 0.4
                                }
                            },
                            layout: {
                                padding: {
                                    top: 50
                                }
                            },
                            scales: {
                                x: {
                                    ticks: {
                                        color: '#000'
                                    }
                                },
                                y: {
                                    ticks: {
                                        color: '#000'
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'bottom'
                                },
                                datalabels: {
                                    color: 'black',
                                    anchor: 'end',
                                    align: 'end',
                                    offset: 5,
                                    borderWidth: 1
                                }
                            }
                        }
                });
                cnslAplyChart.update();
            }, // success 
    
            error : (xhr, status) => {
                alert(xhr + " : " + status);
            }
        });
    });

</script>
</html>
