{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>영남이공대학교 입시</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <div style="padding: 20px;">
                <h1 class="fadeIn first" style="font-family:'test'">로그아웃 되었습니다.</h1>
            </div>
            <div style="padding: 20px;">
                <a href="{% url 'login' %}" style="font-family:'test'; font-size: 24px;">재로그인 하기</a>
            </div>
        </div>
    </div>
</body>

</html>