{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>영남이공대학교 입시</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <div style="padding: 20px;">
                <h1 class="fadeIn first" style="font-family:'test'">영이공 입시현황</h1>
            </div>

            <!-- Login Form -->
            <form method="post" action="{% url 'login' %}" class="form"> {% csrf_token %}
                <div class="fadeIn second" style="padding: 0px 20px;">
                    <td><label for="id_username" style="font-family:'test'">ID:</label></td>
                    <td>{{ form.username }}</td>
                </div>
                <div class="fadeIn third" style="padding: 0px 20px;">
                    <td><label for="id_password" style="font-family:'test'">PW:</label></td>
                    <td>{{ form.password }}</td>
                </div>
                {% if form.errors %}
                    <div style="color: red;" class="fadeIn fourth">
                        아이디 혹은 비밀번호를 확인하세요.
                    </div>
                {% endif %}
                <input type="submit" class="fadeIn fourth" id="loginButton" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

        </div>
    </div>
</body>

</html>